<h1>Portfolio Items</h1>

<h2><%= link_to 'Create new Item', new_portfolio_page_path %></h2>

  <% @portfolio_item.each do |p| %>
    <h2><%= link_to p.title, portfolio_show_path(p) %></h2>
    <p><%= p.subtitle %></p>
    <p><%= p.body %></p>
    <%= image_tag p.thumb_image if !p.thumb_image.nil? %>
    <%= link_to 'edit', edit_portfolio_page_path(p.id) %>
    <%= link_to 'show', portfolio_page_path(p) %>
    <%= link_to 'delete', portfolio_page_path(p), method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>